<!DOCTYPE html>
<html style="height: 100%; margin: 0%;">

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>外卖订单管理系统</title>
</head>

<body style="height: 100%; margin: 0%;">

    <div id="app" style="height: 100%; margin: 0%;">
        <el-dialog title="请输入信息" :visible.sync="dialog2Visible" :modal-append-to-body='false'
            :close-on-click-modal='false'>
            <el-form :model="form">
                <el-form-item label="账户ID" v-if="actionType == 0">
                    <el-input v-model="form.Ano"></el-input>
                </el-form-item>
                <el-form-item label="账户名">
                    <el-input v-model="form.Aid"></el-input>
                </el-form-item>
                <el-form-item label="账户密码">
                    <el-input v-model="form.Apassword" type="password"></el-input>
                </el-form-item>
                <el-form-item label="账户权限">
                    <br>
                    <el-select v-model="form.APermission">
                        <el-option key=0 value=0 label="系统管理员"></el-option>
                        <el-option key=1 value=1 label="商户"></el-option>
                        <el-option key=2 value=2 label="骑手"></el-option>
                        <el-option key=3 value=3 label="客户"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialog2Visible = false">取消</el-button>
                <el-button type="primary" @click="handleClose2()">确定</el-button>
            </span>
        </el-dialog>


        <el-button type="primary" icon="el-icon-plus" @click="add()">添加</el-button>
        <el-button icon="el-icon-refresh" @click="refresh()">刷新</el-button>
        <el-input placeholder="请输入搜索内容" v-model="search" suffix-icon="el-icon-search"
            style="width: max-content; float: right;">
        </el-input>
        <br><br>
        <el-table :data="tableData.filter(data => !search || data.Dname.toLowerCase().includes(search.toLowerCase()) || 
            data.Dtel.toLowerCase().includes(search.toLowerCase()))" style="width: 100%">
            <el-table-column prop="Ano" label="账户ID">
            </el-table-column>
            <el-table-column prop="Aid" label="账户名">
            </el-table-column>
            <el-table-column prop="APermissionS" label="账户权限">
            </el-table-column>
            <el-table-column fixed="right" label="操作" v-if="search == ''">
                <template slot-scope="scope">
                    <el-button @click="modify(scope.$index, tableData)" size="small">修改</el-button>
                    <template>
                        <el-popconfirm @confirm="deleteRow(scope.$index, tableData)" title="确定删除吗？">
                            <el-button slot="reference" type="danger" size="small">删除</el-button>
                        </el-popconfirm>
                    </template>
                </template>
            </el-table-column>
        </el-table>
    </div>
</body>


<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- <script src="project.js"></script> -->

<style>
    .el-header {
        background-color: #B3C0D1;
        color: #333;
        line-height: 60px;
    }

    .el-aside {
        color: #333;
    }
</style>

<script>

    var Main = {
        methods: {
            deleteRow(index, rows) {
                this.$http.post('/delete_account', {
                    Ano: this.tableData[index].Ano
                }).then(function (res) {
                    if (res.body == "Succeeded") {
                        rows.splice(index, 1);
                        this.$message('删除成功！');
                    }
                    else {
                        this.$confirm('删除该账户将导致已有的相关数据丢失，是否继续删除？', '警告', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            this.$http.post('/delete_account_cascade', {
                                Rno: this.tableData[index].Rno
                            }).then(function (res) {
                                if (res.body == "Succeeded") {
                                    rows.splice(index, 1);
                                    this.$message('删除成功！');
                                }
                                else {
                                    this.$message.error('删除失败！');
                                }
                            })
                        }).catch(() => {

                        });
                    }
                })
                //数据库delete
            },
            handleClick(row) {
                // console.log(row);
            },
            select_click(inputs) {
                // console.log(inputs);
            },
            add() {
                this.actionType = 0;
                this.form.Ano = null;
                this.form.Apassword = null;
                this.form.APermission = null;
                this.form.Aid = null;
                this.dialog2Visible = true;
            },
            modify(index, rows) {
                // console.log(index);
                this.form.index = index;
                this.actionType = 1;
                this.form.Ano = rows[index].Ano;
                this.form.Apassword = rows[index].Apassword;
                this.form.APermission = rows[index].APermission.toString();
                this.form.Aid = rows[index].Aid;
                // console.log(rows);
                this.dialog2Visible = true;
                // if (this.actionType == 0 || this.actionType == 2) {//
                //     this.dialog2Visible = true;
                //     if (this.actionType == 2) {
                //         this.disabled1 = false;
                //     }
                //     else {
                //         this.disabled1 = true;
                //     }
                // }
                // else {
                //     this.$message('您当前权限不足！')
                //     this.dialog2Visible = false;
                // }
            },
            handleClose2() {
                // console.log(this.form);
                var index = this.form.index;
                if (this.actionType) {
                    this.$http.post('/update_account', {
                        Ano: this.form.Ano,
                        Apassword: this.form.Apassword,
                        APermission: this.form.APermission,
                        Aid: this.form.Aid
                    }).then(function (res) {
                        if (res.body == "Succeeded") {
                            // this.tableData[index].Dno = this.form.Dno;
                            // console.log(this.tableData);
                            // console.log(index);
                            this.tableData[index].Apassword = this.form.Apassword;
                            this.tableData[index].APermission = this.form.APermission;
                            this.tableData[index].Aid = this.form.Aid;
                            this.dialog2Visible = false;
                            this.$message('修改成功！');
                        }
                        else {
                            this.$message.error('修改失败！');
                        }
                    })
                } else {
                    this.$http.post('/add_account', {
                        Ano: this.form.Ano,
                        Apassword: this.form.Apassword,
                        APermission: this.form.APermission,
                        Aid: this.form.Aid
                    }).then(function (res) {
                        if (res.body == "Succeeded") {
                            temp = {}
                            temp.Ano = this.form.Ano;
                            temp.Apassword = this.form.Apassword;
                            temp.APermission = this.form.APermission;
                            temp.APermissionS = this.convert[this.form.APermission];
                            temp.Aid = this.form.Aid;
                            this.tableData.push(temp);
                            this.dialog2Visible = false;
                            this.$message('添加成功！');
                        }
                        else {
                            this.$message.error('添加失败！')
                        }
                    })
                }

                //数据库update
            },
            handleCommand(command) {
                this.$message('click on item ' + command);
            },
            refresh() {
                this.$http.get('/get_account_list').then(function (res) {
                    this.tableData = []
                    for (var i in res.body.data) {
                        this.tableData.push(res.body.data[i])
                    }
                })
            }
        },

        data() {
            return {
                input3: "",
                search: "",
                form: {
                    Ano: '',
                    Apassword: '',
                    APermission: '',
                    Aid: ''
                },
                actionType: 0,//用户权限
                disabled1: false,
                dialog1Visible: false,
                dialog2Visible: false,
                temp: null,
                tableData: [],
                convert: ['系统管理员', '商户', '骑手', '客户'],
            }
        },

        created() {
            this.$http.get('/get_account_list').then(function (res) {
                for (var i in res.body.data) {
                    res.body.data[i].APermissionS = this.convert[res.body.data[i].APermission];
                    this.tableData.push(res.body.data[i])
                }
            })
        },
    };
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>

</html>