<!DOCTYPE html>
<html style="height: 100%; margin: 0%;">

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>外卖订单管理系统</title>
</head>

<body style="height: 100%; margin: 0%;">

    <div id="app" style="height: 100%; margin: 0%;">
        <el-dialog title="请输入信息" :visible.sync="dialog2Visible" :modal-append-to-body='false'
            :close-on-click-modal='false'>
            <el-form :model="form">
                <el-form-item label="菜品名">
                    <el-input v-model="form.Fname"></el-input>
                </el-form-item>
                <el-form-item label="菜品价格">
                    <el-input v-model="form.Fprice"></el-input>
                </el-form-item>
                <el-form-item label="推荐人数">
                    <el-input v-model="form.Fgood"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialog2Visible = false">取消</el-button>
                <el-button type="primary" @click="handleClose2()">确定</el-button>
            </span>
        </el-dialog>

        <el-dialog title="请输入信息" :visible.sync="dialog3Visible" :modal-append-to-body='false'
            :close-on-click-modal='false'>
            <el-form :model="form">
                <el-form-item label="菜品号">
                    <el-input v-model="form.Fno"></el-input>
                </el-form-item>
                <el-form-item label="菜品名">
                    <el-input v-model="form.Fname"></el-input>
                </el-form-item>
                <el-form-item label="菜品价格">
                    <el-input v-model="form.Fprice"></el-input>
                </el-form-item>
                <el-form-item label="推荐人数">
                    <el-input v-model="form.Fgood"></el-input>
                </el-form-item>
                <el-form-item label="饭店名">
                    <el-input v-model="form.Rno"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialog3Visible = false">取消</el-button>
                <el-button type="primary" @click="handleClose3()">确定</el-button>
            </span>
        </el-dialog>




        <el-button type="primary" icon="el-icon-plus" @click="modify2(tableData)">添加</el-button>
        <el-button icon="el-icon-refresh" @click="refresh()">刷新</el-button>
        <el-input placeholder="请输入搜索内容" v-model="search" suffix-icon="el-icon-search" style="width: max-content; float: right;">
        </el-input>
        
        <br><br>
        <el-table :data="tableData.filter(data => !search || data.Fname.toLowerCase().includes(search.toLowerCase()) || 
            data.Fno.toLowerCase().includes(search.toLowerCase()) || toString(data.Fprice).toLowerCase().includes(search.toLowerCase())) || 
            toString(data.Fgood).toLowerCase().includes(search.toLowerCase())" style="width: 100%">
            <el-table-column prop="Fno" label="菜品ID" width="180">
            </el-table-column>
            <el-table-column prop="Rno" label="商家号" width="180">
            </el-table-column>
            <el-table-column prop="Fname" label="菜品名" width="180">
            </el-table-column>
            <el-table-column prop="Fprice" label="菜品价格" width="280">
            </el-table-column>
            <el-table-column prop="Fgood" label="推荐人数" width="100">
            </el-table-column>
            
            <el-table-column fixed="right" label="操作" width="180">
                <template slot-scope="scope">
                    <el-button @click="modify(scope.$index, tableData)" size="small">修改</el-button>
                    <el-button @click="deleteRow(scope.$index, tableData)" type="danger" size="small">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</body>


<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- <script src="project.js"></script> -->

<style>
    .el-header {
        background-color: #B3C0D1;
        color: #333;
        line-height: 60px;
    }

    .el-aside {
        color: #333;
    }
</style>

<script>

    var Main = {
        methods: {

            deleteRow(index, rows) {
                
                this.$http.post('/delect_food',{
                    Fno: rows[index].Fno
                }).then(function (res){
                    if (res.body == "Succeeded"){
                        this.$message('删除成功！');
                    }
                    else {
                        this.$message.error('删除失败')
                    }
                })
                rows.splice(index, 1);
            },
            handleClick(row) {
                console.log(row);
            },
            select_click(inputs) {
                console.log(inputs);
            },
            modify(index, rows) {
                console.log(index);
                this.form.index = index;
                this.form.Rno = rows[index].Rno;
                this.form.Fno = rows[index].Fno;
                this.form.Fname = rows[index].Fname;
                this.form.Fgood = rows[index].Fgood;
                this.form.Fprice= rows[index].Fprice;
                console.log(rows);
                if (this.actionType == 0 || this.actionType == 2) {//
                    this.dialog2Visible = true;
                    if (this.actionType == 2) {
                        this.disabled1 = false;
                    }
                    else {
                        this.disabled1 = true;
                    }
                }
                else {
                    this.$message('您当前权限不足！')
                    this.dialog2Visible = false;
                }
            },
            handleClose2() {
                this.dialog2Visible = false;
                console.log(this.form);
                var index = this.form.index;
                this.$http.post('/update_food', {
                    Rno: this.form.Rno,
                    Fname: this.form.Fname,
                    Fno: this.form.Fno,
                    Fgood: this.form.Fgood,
                    Fprice: this.form.Fprice
                }).then(function (res) {
                    if (res.body == "Succeeded") {
                        this.tableData[index].Rno = this.form.Rno;
                        this.tableData[index].Fname = this.form.Fname,
                        this.tableData[index].Fno = this.form.Fno,
                        this.tableData[index].Fgood = this.form.Fgood,
                        this.tableData[index].Fprice = this.form.Fprice,
                        this.$message('修改成功！');
                        //数据库update
                    }
                    else {
                        this.$message.error('修改失败')
                    }
                })
                
            },
            modify2(rows) {
                this.form.Rno = rows.Rno;
                this.form.Fno = rows.Fno;
                this.form.Fname = rows.Fname;
                this.form.Fgood = rows.Fgood;
                this.form.Fprice= rows.Fprice;
                console.log(rows);
                if (this.actionType == 0 || this.actionType == 2) {//
                    this.dialog3Visible = true;
                    if (this.actionType == 2) {
                        this.disabled2 = false;
                    }
                    else {
                        this.disabled2 = true;
                    }
                }
                else {
                    this.$message('您当前权限不足！')
                    this.dialog3Visible = false;
                }
            },

            handleClose3(){
                this.dialog3Visible = false;
                console.log(this.form);
                var index = this.form.index;
                this.$http.post('/insert_food', {
                    Rno: this.form.Rno,
                    Fname: this.form.Fname,
                    Fno: this.form.Fno,
                    Fgood: this.form.Fgood,
                    Fprice: this.form.Fprice
                }).then(function (res) {
                    if (res.body == "Succeeded") {
                        this.tableData[index].Rno = this.form.Rno;
                        this.tableData[index].Fname = this.form.Fname,
                        this.tableData[index].Fno = this.form.Fno,
                        this.tableData[index].Fgood = this.form.Fgood,
                        this.tableData[index].Fprice = this.form.Fprice,
                        this.$message('插入成功！');
                    }
                    else {
                        this.$message.error('菜品号已存在，插入失败')
                    }
                })

            },

            handleCommand(command) {
                this.$message('click on item ' + command);
            },

            refresh() {
                this.tableData = []
                console.log(this.tableData)
                this.$http.get('/get_food_list').then(function (res) {
                    console.log(res.bodyText)
                    for (var i in res.body.data) {
                        this.tableData.push(res.body.data[i])
                    }
                })
            }



        },

        data() {
            return {
                input3: "",
                search: "",
                form: {
                    Rno: '',
                    Fname: '',
                    Fno: '',
                    Fgood: '',
                    Fprice: '',
                },
                actionType: 0,//用户权限
                disabled1: false,
                disabled2: false,
                dialog1Visible: false,
                dialog2Visible: false,
                dialog3Visible: false,
                temp: null,
                tableData: [
                    // Rno: null,
                    // Fname: null,
                    // Fno: null,
                    // Fgood: null,
                    // Fprice: null,
                
                ]
            }
        },



        created() {
            console.log(this.tableData)
            this.$http.get('/get_food_list').then(function (res) {
                console.log(res.bodyText)
                for (var i in res.body.data) {
                    this.tableData.push(res.body.data[i])
                }
            })
        },
    };
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>

</html>