<!DOCTYPE html>
<html style="height: 100%; margin: 0%;">

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>外卖订单管理系统</title>
</head>

<body style="height: 100%; margin: 0%;">

    <div id="app" style="height: 100%; margin: 0%;">
        <el-dialog title="请输入信息" :visible.sync="dialog2Visible" :modal-append-to-body='false'
            :close-on-click-modal='false'>
            <el-form :model="form">
                <el-form-item label="订单状态">
                    <el-select v-model="form.Fstatus">
                        <el-option key=0 value=0 label="未付款"></el-option>
                        <el-option key=1 value=1 label="已付款"></el-option>
                        <el-option key=2 value=2 label="未接单"></el-option>
                        <el-option key=3 value=3 label="已接单"></el-option>
                        <el-option key=4 value=4 label="派送中"></el-option>
                        <el-option key=5 value=5 label="已送达"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialog2Visible = false">取消</el-button>
                <el-button type="primary" @click="handleClose2()">确定</el-button>
            </span>
        </el-dialog>
        <el-dialog title="订单详细" :visible.sync="dialog3Visible" :modal-append-to-body='false'
            :close-on-click-modal='false'>
            <el-table :data="formdetail" border style="width: 100%">
                <el-table-column prop="Fnum" label="订单号" width="100">
                </el-table-column>
                <el-table-column prop="Fno" label="菜品号" width="100">
                </el-table-column>
                <el-table-column prop="Fname" label="菜品名" width="100">
                </el-table-column>
                <el-table-column prop="Rname" label="商家名" width="180">
                </el-table-column>
                <el-table-column prop="Fcount" label="菜品数量">
                </el-table-column>
            </el-table>
        </el-dialog>


        <!-- <el-button type="primary" icon="el-icon-plus" @click="add()">添加</el-button> -->
        <el-button icon="el-icon-refresh" @click="refresh()">刷新</el-button>
        <el-input placeholder="请输入搜索内容" v-model="search" suffix-icon="el-icon-search"
            style="width: max-content; float: right;">
        </el-input>
        <br><br>
        <el-table :data="tableData.filter(data => !search || data.Fnum.toLowerCase().includes(search.toLowerCase()) || 
            data.Rno.toLowerCase().includes(search.toLowerCase()) || data.Cno.toLowerCase().includes(search.toLowerCase()) ) 
            " style="width: 100%">
            <el-table-column prop="Fnum" label="订单号" width="100">
            </el-table-column>
            <el-table-column prop="Rno" label="商家号" width="100">
            </el-table-column>
            <el-table-column prop="Cno" label="用户号" width="100">
            </el-table-column>
            <el-table-column prop="Fday" label="订单日期" width="180">
            </el-table-column>
            <el-table-column prop="Ftime" label="订单时间" width="180">
            </el-table-column>
            <el-table-column prop="Rtel" label="商家电话" width="180">
            </el-table-column>
            <el-table-column prop="FstatusS" label="订单状态" width="100">
            </el-table-column>
            <el-table-column prop="Dno" label="骑手编号" width="100">
            </el-table-column>
            <el-table-column fixed="right" label="操作" width="300">
                <template slot-scope="scope">
                    <el-button @click="show(scope.$index, tableData)" type=" text" size="small">详情查看</el-button>
                    <el-button @click="deleteRow(scope.$index, tableData)" type=" text" size="small">删除</el-button>
                    <el-button @click="modify(scope.$index, tableData)" type=" text" size="small">修改</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</body>


<!-- import Vue before Element -->

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource"></script>

<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- <script src="project.js"></script> -->

<style>
    .el-header {
        background-color: #B3C0D1;
        color: #333;
        line-height: 60px;
    }

    .el-aside {
        color: #333;
    }
</style>

<script>

    var Main = {
        methods: {
            show(index, rows) {
                // rows.splice(index, 1);
                // //数据库delete
                this.formdetail = [];
                this.dialog3Visible = true;
                this.$http.post('/get_formdetail', {
                    Fnum: rows[index].Fnum,
                }).then(res => {
                    console.log(res);
                    for (var i in res.body.data) {
                        this.formdetail.push(res.body.data[i])
                    }
                })
            },
            deleteRow(index, rows) {
                //数据库delete
                this.$http.post('/delete_form', {
                    Fnum: rows[index].Fnum,
                }).then(res => {
                    console.log(res);
                })
                rows.splice(index, 1);
                this.$message("删除成功！");
            },
            handleClick(row) {
                console.log(row);
            },
            add() {
                this.form = {
                    index: '',
                    Fnum: '',
                    Rno: '',
                    Cno: '',
                    Fday: '',
                    Ftime: '',
                    Rtel: '',
                    Fstatus: '',
                    Dno: '',
                };
                this.paycode = true;
                this.dialog2Visible = true;
            },
            modify(index, rows) {
                console.log(index);
                this.form.index = index;
                this.form.Fstatus = rows[index].Fstatus.toString();
                console.log(this.form.Fstatus)
                this.paycode = false;
                console.log(rows);
                if (this.actionType == 1 || this.actionType == 2) {//
                    this.dialog2Visible = true;
                    if (this.actionType == 2) {
                        this.disabled1 = false;
                    }
                    else {
                        this.disabled1 = true;
                    }
                }
                else {
                    this.$message('您当前权限不足！')
                    this.dialog2Visible = false;
                }
            },
            handleClose2() {
                this.dialog2Visible = false;
                console.log(this.form);
                //数据库update
                if (this.paycode == false) {
                    var index = this.form.index;
                    this.$http.post('/update_form', {
                        Fnum: this.form.Fnum,
                        Fstatus: this.form.Fstatus
                    }).then(function (res) {
                        console.log(res)
                    })
                    this.tableData[index].Fstatus = this.form.Fstatus;
                    this.$message('修改成功！');
                }
                else {
                    this.$http.post('/add_user', {
                        Cno: this.form.Cno,
                        CTel: this.form.CTel,
                        Cname: this.form.Cname,
                        Caddr: this.form.Caddr,
                        Cmoney: this.form.Cmoney,
                        Cgrade: this.form.Cgrade,
                        Cdiscount: this.form.Cdiscount,
                        Cpaycode: this.form.Cpaycode,
                    }).then(function (res) {
                        console.log(res)
                    })
                }
            },
            refresh() {
                this.tableData = [];
                this.$http.get('/get_form_list').then(function (res) {
                    console.log(res.bodyText)
                    for (var i in res.body.data) {
                        this.tableData.push(res.body.data[i])
                    }
                })
            }
        },
        created() {
            console.log(this.tableData)
            this.$http.get('/get_form_list').then(function (res) {
                console.log(res.bodyText)
                for (var i in res.body.data) {
                    res.body.data[i].FstatusS = this.convert[res.body.data[i].Fstatus];
                    this.tableData.push(res.body.data[i])
                }
            })
        },
        data() {
            return {
                paycode: false,
                search: "",
                form: {
                    index: '',
                    Fnum: '',
                    Rno: '',
                    Cno: '',
                    Fday: '',
                    Ftime: '',
                    Rtel: '',
                    Fstatus: '',
                    FstatusS: '',
                    Dno: '',
                },
                convert: ['未付款', '已付款', '未接单', '已接单', '派送中', '已送达'],
                actionType: 1,//用户权限
                disabled1: false,
                dialog1Visible: false,
                dialog2Visible: false,
                dialog3Visible: false,
                temp: null,
                tableData: [],
                formdetail: []
            }
        }
    };
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>

</html>