<!DOCTYPE html>
<html style="height: 100%; margin: 0%;">

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>外卖订单管理系统</title>
</head>

<body style="height: 100%; margin: 0%;">
    <div id="app" style="height: 100%; margin: 0%;">
        <el-container style="height: 100%; margin: 0%;">
            <el-aside style="background-color: rgb(238, 241, 246)">
                <el-menu default-active="1" class="el-menu-vertical" @select=handleSelect>
                    <el-menu-item index="1">
                        <i class="el-icon-key"></i>
                        <span slot="title">权限</span>
                    </el-menu-item>
                    <el-menu-item index="2">
                        <i class="el-icon-price-tag"></i>
                        <span slot="title">商家</span>
                    </el-menu-item>
                    <el-menu-item index="3">
                        <i class="el-icon-bicycle"></i>
                        <span slot="title">骑手</span>
                    </el-menu-item>
                    <el-menu-item index="4">
                        <i class="el-icon-user"></i>
                        <span slot="title">顾客</span>
                    </el-menu-item>
                    <el-menu-item index="5">
                        <i class="el-icon-ice-drink"></i>
                        <span slot="title">菜品</span>
                    </el-menu-item>
                    <el-menu-item index="6">
                        <i class="el-icon-tickets"></i>
                        <span slot="title">订单</span>
                    </el-menu-item>
                </el-menu>
            </el-aside>

            <el-container>
                <el-header style="text-align: right; font-size: 12px">
                    <i class="el-icon-user-solid"></i>
                    <span id="username"></span>
                    <el-button type="text" @click="logout()" size="small">退出</el-button>
                </el-header>

                <el-main>
                    <iframe :src="page" frameborder="0" style="height: 99%; width: 100%;"></iframe>
                </el-main>
            </el-container>
        </el-container>
    </div>
</body>


<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- <script src="project.js"></script> -->

<style>
    .el-header {
        background-color: #B3C0D1;
        color: #333;
        line-height: 60px;
    }

    .el-aside {
        color: #333;
    }
</style>

<script>
    var Main = {
        data() {
            return {
                username: '',
                page: 'user'
            }
        },
        created() {
            this.$http.get('/get_current_user').then(function (res) {
                if (res.body == "") {
                    window.location.href = "/"
                }
                this.username = res.body
                document.getElementById("username").innerHTML = this.username
            })
        },
        methods: {
            logout() {
                window.location.href = "/"
            },
            handleSelect(index, indexPath) {
                console.log(index);
                if (index == 1) {
                    this.page = "";
                } else if (index == 2) {
                    this.page = "restaurant";
                } else if (index == 3) {
                    this.page = "deliveryman";
                } else if (index == 4) {
                    this.page = "user";
                } else if (index == 5) {
                    this.page = "food";
                } else if (index == 6) {
                    this.page = "";
                }
            }
        }
    };
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>

</html>